* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: initial;
    margin: initial;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: #35227c url('space.jpg');
    background-size: cover;
    overflow: hidden;
    flex-direction: column;
    min-width: 320px;
}

.fuel_container {
    transition: all .5s linear;
    position: relative;
    background: #2b2b2b;
    padding: 10px;
    border-radius: 10px;
    min-width: 300px;
    width: 100%;
    max-width: 500px;;
}

.fuel_container::after {
    content: "Combustível";
    position: absolute;
    background: #2b2b2b;
    width: 140px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-variant: small-caps;
    bottom: -30px;
    left: calc(50% - 70px);
    border-radius: 0 0 10px 10px;
    color: #fff;
}

.fuel_container meter {
    width: 100%;
    height: 40px;
}

::-webkit-meter-bar {
    border: 3px solid #2b2b2b;
}

::-webkit-meter-optimum-value {
    background: linear-gradient(90deg, #ec0000, #ffff17, #03f703);
    transition: all .3s linear;
}

.container {
    position: relative;
    margin: auto;
}

@keyframes container_disappear {
    40% {
        transform: scale(3);
    }
    80% {
        transform: scale(0);
    }
    100% {
        opacity: 0;
    }
}

.container.disappear{
    animation: container_disappear 1s 1 linear;
}

.default {
    position: absolute;
}


.space_duck {
    margin-top: 4px;
    cursor: crosshair;
    z-index: 2;
    transition: all .2s linear;
}

@keyframes duckImg_animation {
    from {
        transform: scale(1.6) rotate(360deg);
    }
}

.space_duck img {
    height: 100%;
    transform: scale(1.6);
    filter: saturate(3);
    image-rendering: optimizeQuality;
    animation: duckImg_animation 25s infinite linear;
}

.space_duck:hover {
    transform: scale(3);
    z-index: 4;

}

@keyframes capturing_duck {
    from {
        display: initial;
        opacity: 1;
        transform: scale(2.2);
    } to {
        opacity: 0;
        transform: scale(0.5) rotate(360deg);
    }
    
}

.space_duck.captured {
    transition: all .1s linear;
    animation: capturing_duck 1s 1 ease-in-out;
}

@keyframes block_animation {
    to {
        transform: scale(1.2) rotate(360deg);
    }
}


.block {
    transform: scale(1.2);
    /* filter: drop-shadow(1px 6px 15px black) grayscale(1); */
}

.block:nth-child(even){
    background: url('asteroids.png');
    background-size: cover;
    animation: block_animation 60s infinite linear;
}

.block:nth-child(odd){
    
    background: url('asteroids2.png');
    background-size: cover;
    animation: block_animation 20s infinite linear;
    /* filter: hue-rotate(150deg); */
}



@keyframes spaceship_animation {
    20% {
        transform: scale(2.25) translateY(-1px) translateX(1px);
    }
     40% {
        transform: scale(2.2) translateY(0px) translateX(-1px);
    } 

    60% {
        transform: scale(2.2) translateY(1px) translateX(0px);
    }
    
    80% {
        transform: scale(2.25) translateY(0px) translateX(-1px);
    } 

}

.player.boosting {
    filter: drop-shadow(0px 76px 11px #AEC100);
    pointer-events: none;
}

.player {
    transform: rotate(90deg); 
    z-index: 3;
    display: flex;
    justify-content: center;
    transition: all 1s cubic-bezier(0, 0, 0.24, 1.05), transform .1s linear;
    filter: drop-shadow(0px 34px 12px #F4D8C3);
    cursor: crosshair;
}

.player:hover {
    transform: scale(3)!important;
}


@keyframes player_disappear {
    40% {
        transform: rotate(90deg) scale(3);
    }
    80% {
        transform: rotate(90deg) scale(0);
    }
    100% {
        opacity: 0;
    }
}

.player.disappear {
    animation: player_disappear .5s 1 linear;
}

.spaceship {
    height: 100%;
    filter: saturate(1.5);
    transform: scale(2.2);
    animation: spaceship_animation 3s infinite cubic-bezier(0, 0, 0.7, 0.4);
    margin-top: 30%;
}

@keyframes exit_anim {
    50% {
        transform: scale(2);
    } 
}

.exit {
    background: linear-gradient(45deg, #302b5a, #1c3cb3a8);
    border-radius: 50%;
    transform: scale(1.3);
    box-shadow: 0 0 14px 13px #000000cf, inset 0 0 10px 2px black;

    animation: exit_anim 5s infinite linear;
    z-index: 1;
    cursor: crosshair;
    transition: all 1s linear;
}

.exit:hover {
    transform: scale(3);
}

