* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: initial;
    margin: initial;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: #35227c url('space.jpg');
    background-size: cover;
    overflow: hidden;
    flex-direction: column;
    min-width: 500px;
}

@keyframes welcome_msg {
    0% {
        margin-top: -50px;
    }
    20% {
        margin-top: 50px;
        opacity: 1;
    }
    40% {
        margin-top: -25px;
        opacity: 1;
    }
    60% {
        margin-top: 25px;
        opacity: 1;
    }
    80% {
        margin-top: -12px;
        opacity: 1;
    }
    100%{
        display: none;
    }

}

#startProcess {
    transition: all 1.2s ease-out;
    width: 165px;
    height: 50px;
    background: linear-gradient(180deg, #7f36ff, #620c97);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 7px 1px #1d1d1d;
    transition: all .5s ease;
}

#startProcess:hover {
    transform: scale(1.2);
}


#welcome_msg {
    display: none;
    opacity: 0;
    pointer-events: none;
    animation: welcome_msg 5s 1 ease-in-out;
    font-size: 38px;
    font-family: monospace;
    color: white;
    text-shadow: 0 0 20px black;
}
.newMsg {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.msg_received {
    transition: all 1s ease-in-out;
    cursor: pointer;
    transition: all .3s linear;
}

.msg_received:hover {
    transform: scale(1.1);
}

.default_button {
    width: 200px;
    height: 50px;
    background: #069806;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    border: 1px solid #464646;
    box-shadow: inset 0 0 5px 1px #0c0c0c, 0 0 3px 2px #191919;
    cursor: pointer;
    transition: all .5s linear;
    opacity: 0;
    pointer-events: none;
}

.default_button:hover {
    background: #008400;
}

.default_button:active {
    transform: scale(0.98);
}


.newMsg h4{
    background: #000;
    color: #fff;
    padding: 20px;
    font-family: monospace;
    border-radius: 20px;
}

.welcome_screen__container{
    width: 100vw;
    max-width: 100%;
    min-width: 500px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all .5s linear;
}

.info_screen__container {
    position: absolute;
    min-width: 500px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    display: none;
}

.info_msg_broadcast {
    max-width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
    text-align: justify;
    font-family: monospace;
    background: #000;
    color: #fff;
    border-radius: 10px;
    border: 4px double white;
    display: none;
}

.info_msg_broadcast p {
    line-height: 25px;
    font-size: 14px;
}

.info_msg_broadcast p .line-through{
    text-decoration: line-through;
}

.broadcast_button {
    margin-top: 10px;
    font-weight: bold;
    transition: all .3s linear;
    cursor: pointer;
}

.broadcast_button:hover {
    transform: scale(1.1);
    text-decoration: underline;
    text-underline-offset: 5px;
}

@keyframes messageReceiver {
    from {
        opacity: 0;
        margin-top: -50px;
    }
    to {
        opacity: 1;
    }
}

.receiver__container{
    display: none;
    width: 100%;
    max-width: 500px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.message_receiver {
    width: 100%;
    min-height: 420px;
    background: white;
    padding: 20px;
    text-align: justify;
    font-family: monospace;
    background: #000;
    color: #fff;
    border-radius: 10px;
    border: 4px double white;
    animation: messageReceiver 1s 1 ease-in-out;
    position: relative;
}

@keyframes skip_transmission {
    from {
        opacity: 0;
        bottom: 40px;
    }
    to {
        opacity: 1;
    }
}

#skip_transmission {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all .1s linear;
    animation: skip_transmission 1s 1 linear;
}

#skip_transmission:hover {
    transform: scale(1.05);
    text-decoration: underline;
    text-underline-offset: 5px;
}

.message_receiver p {
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 14px;
    
}

.fuel_container {
    transition: all .5s linear;
    position: relative;
    background: #2b2b2b;
    padding: 10px;
    border-radius: 10px;
    min-width: 300px;
    width: 100%;
    max-width: 500px;
    opacity: 0;
    pointer-events: none;
}

.fuel_container::after {
    content: "Combustível";
    position: absolute;
    background: #2b2b2b;
    width: 140px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-variant: small-caps;
    bottom: -30px;
    left: calc(50% - 70px);
    border-radius: 0 0 10px 10px;
    color: #fff;
}

.fuel_container meter {
    width: 100%;
    height: 40px;
}

::-webkit-meter-bar {
    border: 3px solid #2b2b2b;
}

::-webkit-meter-optimum-value {
    background: linear-gradient(90deg, #ec0000, #ffff17, #03f703);
    transition: all .3s linear;
}

@keyframes show_container {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }
    80% {
        opacity: 1;
        transform: scale(1.2);
    }
}

.container {
    position: relative;
    margin: auto;
    display: none;
    animation: show_container 1s 1 ease-in-out;
}

@keyframes container_disappear {
    40% {
        transform: scale(3);
    }
    80% {
        transform: scale(0);
    }
    100% {
        opacity: 0;
    }
}

.container.disappear{
    animation: container_disappear 1s 1 linear;
}

.default {
    position: absolute;
}

.space_duck::before {
    content: "Identificação: Desconhecida\A Tipo: Emborrachado\A País de Origem: Brasil\A Ocupação: Debugger\A Traje de Proteção: Ausente\A Capacete: F331-KZ";
    position: absolute;
    left: -110px;
    top: -35px;
    background: #000000a6;
    pointer-events: none;
    color: white;
    white-space: pre;
    word-wrap: break-word;
    font-size: 5px;
    padding: 5px;
    border-radius: 10px;
    font-family: monospace;
    line-height: 14px;
    opacity: 0;
    border-width: 3px;
    border-style: double;
    border-color: #dee1ea transparent transparent transparent;
}

.space_duck:hover::before {
    opacity: 1;
}

.space_duck {
    margin-top: 4px;
    cursor: crosshair;
    z-index: 2;
    transition: all .2s linear;
}

@keyframes duckImg_animation {
    from {
        transform: scale(1.6) rotate(360deg);
    }
}

.space_duck img {
    height: 100%;
    transform: scale(1.6);
    filter: saturate(3);
    image-rendering: pixelated;
    animation: duckImg_animation 25s infinite linear;
}

.space_duck:hover {
    transform: scale(3);
    z-index: 4;

}

@keyframes capturing_duck {
    from {
        display: initial;
        opacity: 1;
        transform: scale(2.2);
    } to {
        opacity: 0;
        transform: scale(0.5) rotate(360deg);
    }
    
}

.space_duck.captured {
    transition: all .1s linear;
    animation: capturing_duck 1s 1 ease-in-out;
}

@keyframes block_animation {
    to {
        transform: scale(1.2) rotate(360deg);
    }
}


.block {
    transform: scale(1.2);
    /* filter: drop-shadow(1px 6px 15px black) grayscale(1); */
}

.block:nth-child(even){
    background: url('asteroids.png');
    background-size: cover;
    animation: block_animation 60s infinite linear;
}

.block:nth-child(odd){
    
    background: url('asteroids2.png');
    background-size: cover;
    animation: block_animation 50s infinite linear;
    /* filter: hue-rotate(150deg); */
}



@keyframes spaceship_animation {
    20% {
        transform: scale(2.25) translateY(-1px) translateX(1px);
    }
     40% {
        transform: scale(2.2) translateY(0px) translateX(-1px);
    } 

    60% {
        transform: scale(2.2) translateY(1px) translateX(0px);
    }
    
    80% {
        transform: scale(2.25) translateY(0px) translateX(-1px);
    } 

}

.player.boosting {
    filter: drop-shadow(0px 76px 11px #AEC100);
    pointer-events: none;
    z-index: 3;
}

.player::before {
    content: "Modelo: F378.22-FTL-KA\A Propulsor: Orientação Vertical\A Tipo: Econômico \A Ano de Fabricação: 2286\A País: Brasil\A Agência: Kenzie Space Agency";
    position: absolute;
    left: 48px;
    top: -70px;
    background: #000000a6;
    pointer-events: none;
    color: white;
    white-space: pre;
    word-wrap: break-word;
    font-size: 5px;
    padding: 5px;
    border-radius: 10px;
    font-family: monospace;
    line-height: 14px;
    opacity: 0;
    border-width: 3px;
    border-style: double;
    border-color: #dee1ea transparent transparent transparent;
}

.player {
    transform: rotate(90deg); 
    z-index: 3;
    display: flex;
    justify-content: center;
    transition: all 1s cubic-bezier(0, 0, 0.24, 1.05), transform .1s linear;
    filter: drop-shadow(0px 34px 12px #F4D8C3);
    cursor: crosshair;
}

.player:hover::before {
    opacity: 1;
}

.player:hover {
    transform: scale(3)!important;
    filter: none;
    transition: filter 0s linear, transform .1s linear;
}


@keyframes player_disappear {
    40% {
        transform: rotate(90deg) scale(3);
    }
    80% {
        transform: rotate(90deg) scale(0);
    }
    100% {
        opacity: 0;
    }
}

.player.disappear {
    animation: player_disappear .5s 1 linear;
}

.spaceship {
    height: 100%;
    filter: saturate(1.5);
    transform: scale(2.2);
    image-rendering: pixelated;
    animation: spaceship_animation 3s infinite cubic-bezier(0, 0, 0.7, 0.4);
    margin-top: 30%;
}

@keyframes exit_anim {
    50% {
        transform: scale(2);
    } 
}

.exit::before {
    content: "Identificação: Wormhole FJUI-Y7\A Conexão Aproximada: ~Gliese 876\A Paralelismo Anti-Pato: Não\A Sucção Máxima: 2.1011640058884113e+139";
    position: absolute;
    left: -140px;
    top: -12px;
    background: #000000a6;
    pointer-events: none;
    color: white;
    white-space: pre;
    word-wrap: break-word;
    font-size: 5px;
    padding: 5px;
    border-radius: 10px;
    font-family: monospace;
    line-height: 14px;
    opacity: 0;
    border-width: 3px;
    border-style: double;
    border-color: #ff0000 transparent transparent transparent;
    
}

.exit {
    background: linear-gradient(45deg, #302b5a, #1c3cb3a8);
    border-radius: 50%;
    transform: scale(1.3);
    box-shadow: 0 0 14px 13px #000000cf, inset 0 0 10px 2px black;

    animation: exit_anim 5s infinite linear;
    z-index: 2;
    cursor: crosshair;
    transition: transform 1s linear;
}

.exit:hover::before {
    opacity: 1;
}

.exit:hover {
    transform: scale(3);
    animation: unset;
    z-index: 4;
}

